%h1= @doc.title
%p= @doc.content

= link_to "All Documents", docs_path
= link_to "Update Document", edit_doc_path(@doc)
= link_to 'Trash It!', docs_delete_path, method: :delete, data: { confirm: 'Are you sure?' }
= button_to "Log out", destroy_user_session_path, method: :delete, data: { turbo: "false" }